@import "../css/form.css";
@import "../css/tabs.css";
@import "../css/profile.css";


$blue-color: #2c80a5;
$magenta-color: #ff5b5d;
$yellow-color:#ffd000;
$green-color: #a8c33e;
$cyan-color: #52d1ca;
$sea-color: #27b8bb;

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
}

h1 {
    color: $blue-color;
    font-weight: bold;
}

h2 {
    color: $magenta-color;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.overlay-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background: #fff;

    img {
        max-width: 500px;
        min-width: 300px;
        width: 80%;
    }

    &__block {
        padding: 10px;
        color: $blue-color;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 5px;

        span {
            color: $magenta-color;
        }
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    max-width: 1440px;
    min-height: 45px;
    margin: 40px auto 0;
}

.header {
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s ease;

        input {
            width: 0;
            height: 0;
            opacity: 0;
        }
    }
}

.menu {
    &__toggle {
        position: relative;
        z-index: 7;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        color: $blue-color;
        font-weight: bold;
        font-size: 3rem;

    }

    &__list {
        position: absolute;
        top: 150px;
        z-index: 7;
        margin: 0 auto;
        padding-inline-start: 0;
        list-style: none;
        font-size: 2rem;
        transition: 0.5s ease;
        transform: translateX(-800px);
    }

    &__item {
        display: flex;
        align-items: center;

        &_active .menu__link{
            color: $magenta-color;
        }
    }

    &__link {
        text-decoration: none;
        transition: 0.5s ease;

        &:hover {
            color: $blue-color;
        }
    }

    &_open {
        position: absolute;
        top: 0;
        z-index: 6;
        width: 30%;
        height: 100%;
        background-color: $yellow-color;
        transition: 0.5s ease;
        transform: translateX(-100%);
    }

    &_transformed {
        transform: translateX(0%);
    }
}

.link {
    &__icon {
        width: 35px;
        height: 35px;
        margin-right: 20px;
        background-size: cover;
        background-position: center;
        border: 2px solid $blue-color;
        border-radius: 100%;
    }
}

.main-container {
    width: 85vw;
    max-width: 1440px;
    margin: 40px auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 250px;
        height: 250px;
        margin: 30px;
        color: $magenta-color;
        background: white;
        border-radius: 19px;
        box-shadow: -1px 15px 30px -12px black;
        transition: 0.5s ease;

        &:hover {
            color: $blue-color;
            cursor: pointer;
            transform: translateY(5px) scale(1.005);
            box-shadow: 1px 15px 30px -12px $cyan-color;
        }

        &_rotated {
            transform: rotateY(180deg);
        }

        .card__img {
            width: 250px;
            height: 180px;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: -1px 5px 20px -10px rgba(0, 0, 0, 0.5);
            transition: 0.5s ease;

            &:hover {
                box-shadow: -1px 5px 20px -10px $blue-color;
            }

            &_bgcontained {
                background-size: contain;
            }
        }

        .card__name {
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: 5px;
            transition: 0.5s ease;
        }

        .card__content {
            width: 100%;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .card__button {
            transform: scale(1.5);
            color: $sea-color;
            transition: 0.5s ease;

            &:hover {
                transform: scale(2);
                color: $magenta-color;
            }
        }
    }

    &__block {
        position: relative;
        width: 250px;
        height: 250px;
        margin: 30px;
        perspective: 800px;

        .cards__item {
            position: absolute;
            margin: 0;
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }

        &_hover .cards__front {
            opacity: 0;
            transform: rotateY(180deg);
        }

        &_hover .cards__back {
            z-index: 10;
            transform: rotateY(0deg);
        }

        &_inactive {
            opacity: 0.5;
            cursor: none;
        }
    }

    &__front {
        z-index: 9;
        transform: rotateY(0deg);
        
    }

    &__back {
        transform: rotateY(-180deg);
    }

    &__play {
        .card__img {
            height: 250px;
            border-radius: 14px;
        }
    }
}

.statistic-container {
    table {
        width: 100%;
        margin-top: 20px;

        thead tr {
            background-color: $cyan-color;
            transition: 0.5s ease;

            &:hover {
                background-color: $magenta-color;
            }

            th {
                padding: 10px 5px;
                font-size: 1.2rem;
                text-transform: capitalize;
                background-color: transparent;
                transition: 0.5s ease;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    background-color: $sea-color;
                }
            }
        }

        tbody tr {
            background-color: $green-color;
            transition: 0.5s ease;

            &:hover {
                background-color: $yellow-color;
            }

            td {
                padding: 5px;
                background-color: transparent;
            }
        }
    }

    button {
        margin-left: 10px;
    }
}

.footer {
    width: 85vw;
    max-width: 1440px;
    height: 45px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__info {
        font-size: 1.2rem;

        a {
            color: $blue-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__logo {
        width: 100px;
        transition: 0.5s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media (max-width: 769px) {
    .menu_open {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .header-container {
        flex-wrap: wrap;

        h1 {
            width: 100%;
            text-align: center;
            order: 3;
        }
    }

    .main-container {
        width: 100vw;
    }

    .menu_open {
        width: 70%;
    }
}