<main class="main-container subsection-container">
    <h2 class="section__heading">Мышление</h2>
    <div class="cards-container cards">
        <div class="cards__block cards-unikum">
            <div class="cards__item cards__front" data-training="unikum">
                <a class="card__link" href="/trainings/thinking/unikum">
                    <div class="card__img" style="background-image: url('/assets/images/thinking/unikum.jpg');"></div>
                </a>
                <div class="card__content">
                    <div class="card__name">Уникум</div>
                    <i class="card__button material-icons" data-card="unikum">rotate_left</i>
                </div>
            </div>
            <div class="cards__item cards__back" data-card="unikum">
                <div class="card__descr">Тренажер для развития образного мышления</div>
                <div class="card__content">
                    <div class="card__name">Уникум</div>
                </div>
            </div>
        </div>
    </div>
</main>